#glossary-container {
    width:90%;
    height: 80%;
    background-color: rgba(10, 107, 142, 0.4);
    border-radius: 10px;
    margin-top: 2%;
    padding: 2%;
    padding-bottom: 2%;
}

#glossary-table {
    background-color: rgba(10, 107, 142, 0.4);
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 0%;
}